* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black !important;
}

a {
    text-decoration: none;
}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3% 7%;
}

.header__nav ul li {
    display: inline-block;
    margin: 10px 20px;
    margin-top: 5%;
}

.header__nav ul li a {
    color: white;
}

.mobile-artworks-nav {
    display: none;
}

/* HOME SECTION */
.home {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    height: 100vh;
}

.home-heading {
    position: absolute;
    color: white;
    width: 250px;
    text-align: center;
    margin-left: 9%;
    margin-top: 2%;
    animation: fadeInLeft;
    animation-duration: 2s;

}

.home-quote {
    color: white;
    position: absolute;
    width: 300px;
    font-size: 17px;
    text-align: right;
    margin-top: 12%;
    margin-left: 7%;
    animation: fadeInLeft;
    animation-duration: 2s;
}

.home-quote-span {
    font-size: 15px;
    color: rgb(232, 228, 228);
}

.home-image-1 {
    height: 440px;
    width: 353px;
    margin-top: 53%;
    margin-left: 18%;
    display: block;
    object-fit: cover;
    animation: fadeInUp;
    animation-duration: 2s;
}

.home-image-2 {
    width: 320px;
    height: 585px;
    margin-top: 20%;
    margin-left: 20%;
    display: block;
    object-fit: cover;
    animation: fadeIn;
    animation-duration: 2s;
}

.home-image-3 {
    width: 353px;
    height: 525px;
    margin-left: 13%;
    display: block;
    object-fit: cover;
    animation: fadeInDown;
    animation-duration: 2s;
}

/*END OF HOME SECTION*/
/* ABOUT */
.about {
    display: flex;
    height: 100vh;
}

.about-heading {
    color: white;
    margin-left: 8%;
    position: absolute;
    margin-top: 9%;
    font-size: 35px;
    animation: fadeIn;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-duration: 3s;
}

.about-image-1 {
    border-radius: 50%;
    width: 200px;
    height: 240px;
    margin-left: 7%;
    margin-top: 14%;
    position: absolute;
}

.about-paragraph-1 {
    color: white;
    width: 300px;
    text-align: center;
    margin-top: 32%;
    margin-left: 4%;
}

.vl {
    border-left: 3px solid grey;
    height: 705px;
    margin-left: 2%;
}

.about-image-2 {
    position: absolute;
    margin-left: 27%;
    width: 267px;
    margin-top: 12%;
}

.about-paragraph-2 {
    color: white;
    width: 250px;
    margin-left: 20%;
    text-align: left;
    margin-top: 15%;
}

.vl-2 {
    border-left: 3px solid grey;
    height: 705px;
    margin-left: 1%;
}

.about-image-3 {
    position: absolute;
    margin-top: 11%;
    width: 267px;
    margin-left: 65%;
}

.about-paragraph-3 {
    position: absolute;
    color: white;
    width: 240px;
    text-align: left;
    margin-left: 84%;
    margin-top: 18%;
}

.about-paragraph-1-span {
    font-size: 20px;
    font-weight: 700;
}

.about-paragraph-2-span {
    font-size: 20px;
    font-weight: 700;
}

/* END OF ABOUT SECTION */
/* ARTWORKS SECTION 1*/
.artworks {
    display: flex;
    height: 100vh;
}

.artworks-mobile {
    display: none;
}

.artworks-carousel {
    width: 1450px;
    margin-left: 2%;
}

.artworks-title-1 {
    background-color: rgba(255, 255, 255, 0.281);
    text-align: center;
    width: 300px;
    color: black;
    margin: auto;
    border-radius: 8px;
    font-size: 28px;
}

.artworks-paragraph-1 {
    color: black;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.281);
    border-radius: 10px;
    font-size: 16px;
}

.artworks-paragraph-1-span {
    font-size: 20px;
    font-weight: 700;
}

.artworks-paragraph-3-span {
    font-size: 20px;
    font-weight: 700;
}

.artworks-title-2 {
    background-color: rgba(255, 255, 255, 0.407);
    text-align: center;
    width: 250px;
    color: black;
    margin: auto;
    border-radius: 8px;
    font-size: 28px;

}

.artworks-paragraph-2 {
    color: black;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.407);
    border-radius: 10px;
    font-size: 16px;
}

.artworks-title-3 {
    background-color: rgba(255, 255, 255, 0.634);
    text-align: center;
    width: 250px;
    color: black;
    margin: auto;
    border-radius: 8px;
    font-size: 28px;

}

.artworks-paragraph-3 {
    color: black;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.634);
    border-radius: 10px;
    font-size: 16px;
}

/*END OF ARTWORKS SECTION 1*/
/*ARTWORKS SECTION 2*/
.artworks-2 {
    display: grid;
    height: 100vh;
}

.artworks-4 {
    position: relative;
    width: 305px;
    margin-left: 5%;
    margin-top: 2%;
}

.artworks-image-4 {
    opacity: 1;
    display: block;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.artworks-image-4-style {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.artworks-4:hover .image {
    opacity: 0.3;
}

.artworks-4:hover .middle {
    opacity: 1;
}

.artworks-image-4-text {
    background-color: rgba(0, 0, 0, 0.364);
    color: white;
    font-size: 16px;
    padding: 16px 16px;
    border-radius: 10px;
    width: 175px;
    text-align: right;
}

.artworks-5 {
    position: absolute;
    width: 600px;
    margin-left: 27%;
    margin-top: 2%;
}

.artworks-image-5 {
    opacity: 1;
    display: block;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.artworks-image-5-style {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.artworks-5:hover .image {
    opacity: 0.3;
}

.artworks-5:hover .middle {
    opacity: 1;
}

.artworks-image-5-text {
    background-color: rgba(0, 0, 0, 0.364);
    color: white;
    font-size: 16px;
    padding: 16px 16px;
    border-radius: 10px;
    width: 187px;
    text-align: right;
}

.artworks-6 {
    position: absolute;
    width: 400px;
    margin-left: 68%;
    margin-top: 2%;
}

.artworks-image-6 {
    opacity: 1;
    display: block;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.artworks-image-6-style {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.artworks-6:hover .image {
    opacity: 0.3;
}

.artworks-6:hover .middle {
    opacity: 1;
}

.artworks-image-6-text {
    background-color: rgba(0, 0, 0, 0.364);
    color: white;
    font-size: 16px;
    padding: 16px 16px;
    border-radius: 10px;
    width: 155px;
    text-align: right;
}

.artworks-7 {
    position: absolute;
    width: 450px;
    margin-left: 66%;
    margin-top: 25%;
    padding-bottom: 2%;
    margin-bottom: 5%;
}

.artworks-image-7 {
    opacity: 1;
    display: block;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.artworks-image-7-style {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.artworks-7:hover .image {
    opacity: 0.3;
}

.artworks-7:hover .middle {
    opacity: 1;
}

.artworks-image-7-text {
    background-color: rgba(0, 0, 0, 0.364);
    color: white;
    font-size: 16px;
    padding: 16px 16px;
    border-radius: 10px;
    width: 218px;
    text-align: right;
}

.artworks-8 {
    position: absolute;
    width: 500px;
    margin-left: 30%;
    margin-top: 23%;
    padding-bottom: 2%;
    margin-bottom: 5%;
}

.artworks-image-8 {
    opacity: 1;
    display: block;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.artworks-image-8-style {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.artworks-8:hover .image {
    opacity: 0.3;
}

.artworks-8:hover .middle {
    opacity: 1;
}

.artworks-image-8-text {
    background-color: rgba(0, 0, 0, 0.364);
    color: white;
    font-size: 16px;
    padding: 16px 16px;
    border-radius: 10px;
    width: 170px;
    text-align: right;
}

.artworks-9 {
    position: relative;
    width: 330px;
    margin-left: 4%;
    margin-top: 1%;
    padding-bottom: 2%;
    margin-bottom: 5%;
}

.artworks-image-9 {
    opacity: 1;
    display: block;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.artworks-image-9-style {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.artworks-9:hover .image {
    opacity: 0.3;
}

.artworks-9:hover .middle {
    opacity: 1;
}

.artworks-image-9-text {
    background-color: rgba(0, 0, 0, 0.364);
    color: white;
    font-size: 16px;
    padding: 16px 16px;
    border-radius: 10px;
    width: 180px;
    text-align: right;
}

.artworks-title-mobile-2 {
    display: none;
}
.artworks-mobile-2{
    display: none;
}
/*END OF ARTWORKS SECTION*/
/*LOCATIONS SECTION*/
.locations {
    display: grid;
    height: 100vh;
}

.locations-heading {
    color: white;
    font-size: 35px;
    position: absolute;
    margin-top: 11%;
    margin-left: 46%;
}

.locations-heading-2 {
    color: white;
    position: absolute;
    margin-top: 15%;
    margin-left: 36%;
    text-align: center;
}

.card {
    background-color: black;
}

.card-group {
    position: relative;
    margin-top: 18%;
    width: 1519px;
    margin-bottom: 5%;
    padding-bottom: 5%;
    justify-content: space-between;
    padding-bottom: 5%;
}

.card-title {
    color: white;
    text-align: center;
    font-weight: 600;
}

.card-text {
    color: white;
    text-align: center;
}

.btn-primary {
    background-color: rgb(71, 70, 70);
    border-color: azure;
    margin-left: 30%;
    width: 40%;
    font-size: 13px;
    animation: pulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.btn-primary:hover {
    background-color: rgb(56, 55, 55);
    border-color: azure;
}

.mobile-locations{
    display: none;
}
/*END OF LOCATIONS SECTION*/
/*FOOTER SECTION*/
footer p {
    color: white;
    text-align: center;
    padding-top: 2%;
}

/*END OF DESKTOP*/

/* MEDIA QUERY HOME SECTION */
@media only screen and (max-width: 600px) {
    .home {
        height: 100vh;
        background-image: url(../images/indio-bravo.webp);
        background-size: cover;
        background-repeat: no-repeat;
    }

    .header__nav {
        display: grid;
        height: 15vh;
    }

    .navbar-toggler {
        position: absolute;
        margin-left: 3%;
    }

    .navbar_nav {
        height: 15vh;
    }

    .navbar-collapse {
        margin-right: 50%;
        font-size: 20px;
    }

    .dropdown-menu {
        width: 200px;
        text-align: center;
    }

    .dropdown-item {
        font-size: 15px;
    }

    .home-image-1 {
        display: none;
    }

    .home-image-2 {
        display: none;
    }

    .home-image-3 {
        display: none;
    }

    .home-heading {
        position: absolute;
        margin-top: 60%;
        font-size: 50px;
        text-align: center;
        animation: fadeIn;
        animation-duration: 2s;
    }

    .home-quote {
        margin-top: 100%;
        font-style: italic;
        animation: fadeIn;
        animation-duration: 4s;
    }
}

/* MEDIA QUERY ABOUT SECTION */
@media only screen and (max-width: 600px) {
    .about {
        height: 100vh;
    }

    .about-heading {
        position: absolute;
        margin-left: 26%;
        margin-top: 15%;
    }

    .about-image-1 {
        position: absolute;
        height: 200px;
        width: 150px;
        margin-top: 45%;
        margin-left: 6%;
    }

    .about-paragraph-1 {
        font-size: 15px;
        width: 180px;
        margin-left: 50%;
        margin-top: 40%;
        position: absolute;
        text-align: left;
    }

    .about-paragraph-1-span {
        font-size: 18px;
    }

    .about-image-2 {
        height: 250px;
        width: 170px;
        position: absolute;
        margin-top: 130%;
        margin-left: 49%;
    }

    .about-paragraph-2 {
        font-size: 15px;
        width: 160px;
        margin-top: 120%;
        position: absolute;
        text-align: right;
        margin-left: 2%;
    }

    .about-paragraph-2-span {
        font-size: 18px;
    }

    .vl {
        display: none;
    }

    .about-image-3 {
        display: none;
    }

    .about-paragraph-3 {
        display: none;
    }

}

/* MEDIA QUERY ARTWORKS-1 SECTION */
@media only screen and (max-width: 600px) {
    .artworks-section-1 {
        height: 100vh;
        display: flex;
    }

    .artworks-carousel {
        display: none;
    }

    .artworks-mobile {
        display: block;
        width: 388px;
    }

    .artworks-title-mobile-1 {
        display: block;
        text-align: center;
        padding-top: 8%;
    }
    .famous-artworks{
        color: white;
        font-size: 28px;
        font-weight: bolder;
    }

    .artworks-mobile-image-1 {
        margin-top: 5%;
    }

    .artworks-mobile-text-1 {
        text-align: center;
        color: white;
    }

    .artworks-mobile-image-2 {
        margin-top: 4%;
    }

    .artworks-mobile-text-2 {
        text-align: center;
        color: white;
    }

    .artworks-mobile-image-3 {
        margin-top: 4%;
    }

    .artworks-mobile-text-3 {
        text-align: center;
        color: white;
    }

    /* MEDIA QUERY ARTWORKS-2 SECTION */
    @media only screen and (max-width: 600px) {}
    .artworks-section-2{
        height: 100vh;
        display: flex;
    }
    .artworks-mobile-2{
        display: block;
    }
    .artworks-2{
        display: none;
    }
    .artworks-title-mobile-2 {
        display: block;
        text-align: center;
        padding-top: 5%;
    }
    .more-artworks{
        color: white;
        font-size: 28px;
        font-weight: bold;
    }
    .mobile-artworks-5 {
        position: absolute;
        width: 390px;
        margin-left: 0;
        padding-top: 5%;
    }
    
    .artworks-mobile-image-5 {
        opacity: 1;
        display: block;
        height: auto;
        transition: .5s ease;
        backface-visibility: hidden;
    }
    
    .artworks-mobile-image-5-style {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%)
    }
    
    .mobile-artworks-5:hover .image {
        opacity: 0.3;
    }
    
    .mobile-artworks-5:hover .middle {
        opacity: 1;
    }
    
    .artworks-mobile-image-5-text {
        background-color: rgba(0, 0, 0, 0.364);
        color: white;
        font-size: 16px;
        padding: 16px 16px;
        border-radius: 10px;
        width: 187px;
        text-align: right;
    }
    .mobile-artworks-6 {
        position: absolute;
        width: 390px;
        margin-left: 0;
        margin-top: 55%;
    }
    
    .artworks-mobile-image-6 {
        opacity: 1;
        display: block;
        height: auto;
        transition: .5s ease;
        backface-visibility: hidden;
    }
    
    .artworks-mobile-image-6-style {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%)
    }
    
    .mobile-artworks-6:hover .image {
        opacity: 0.3;
    }
    
    .mobile-artworks-6:hover .middle {
        opacity: 1;
    }
    
    .artworks-mobile-image-6-text {
        background-color: rgba(0, 0, 0, 0.364);
        color: white;
        font-size: 16px;
        padding: 16px 16px;
        border-radius: 10px;
        width: 187px;
        text-align: right;
    }
    .mobile-artworks-7 {
        position: relative;
        width: 390px;
        margin-left: 0;
        margin-top: 134%;
    }
    
    .artworks-mobile-image-7 {
        opacity: 1;
        display: block;
        height: auto;
        transition: .5s ease;
        backface-visibility: hidden;
    }
    
    .artworks-mobile-image-7-style {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%)
    }
    
    .mobile-artworks-7:hover .image {
        opacity: 0.3;
    }
    
    .mobile-artworks-7:hover .middle {
        opacity: 1;
    }
    
    .artworks-mobile-image-7-text {
        background-color: rgba(0, 0, 0, 0.364);
        color: white;
        font-size: 16px;
        padding: 16px 16px;
        border-radius: 10px;
        width: 218px;
        text-align: right;
    }
}

/* MEDIA QUERY LOCATIONS SECTION */
@media only screen and (max-width: 600px) {
    .locations-section{
        height: 100vh;
    }
    .locations{
        display: none;
    }

    .mobile-locations{
        display: block;
        margin-top: 10%;
    }

    .locations-mobile-heading{
        text-align: center;
        color: white;
        font-size: 30px;
    }
    .locations-mobile-heading-2{
        text-align: center;
        color: white;

    }
    .mobile-museums{
        margin-top: 18%;
        padding-bottom: 10%;
    }
}

/* MEDIA QUERY FOOTER SECTION */
@media only screen and (max-width: 600px) {
    footer{
        position: relative;
    }
}

/* END OF ALL */