* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --background-overlay: rgba(36, 35, 35, 0.376)
}
body {
    background-color: black !important;
}
a {
    text-decoration: none;
}
/* .navbar-nav a {
    color: rgb(216, 213, 213);
    font-size: 15px;
    margin-left: 25%;
} */
.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3% 7%;
}
.header__brand{
    color: white;
    font-size: 40px;
    font-weight: 700;
}
.header__nav ul li {
    display: inline-block;
    margin: 10px 20px;
}
.header__nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}
.home{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    
}

.home-image-1{
    height: 440px;
    width: 353px;
    margin-top: 54%;
    margin-left: 18%;
    /* margin-bottom: 40%; */ 
    /* position: inherit; */
    display: block;
    object-fit: cover;
}

.home-image-2 {
    width: 320px;
    height: 585px;
    margin-top: 20%;
    margin-left: 20% ;
    display: block;
    object-fit: cover;
}
.home-image-3{
    width: 353px;
    height: 525px;
    margin-left: 13%;
    display: block;
    object-fit: cover;

}
/*END OF HOME SECTION*/
.about{
    display: flex;
}
.about-heading{
    color: white;
    margin-left: 15%;
    position: absolute;
    margin-top: 3%;
    font-size: 35px;
}
.about-image-1{
    border-radius: 50%;
    width: 200px;
    height: 240px;
    margin-left: 14%;
    margin-top: 7%;
    position: absolute;
}
.about-paragraph-1{
    color: white;
    width: 300px;
    text-align: center;
    margin-top: 24%;
    margin-left: 11%;
}
.vl {
    border-left: 3px solid white;
    height: 500px;
    margin-left: 9%;
  }
  .about-image-2{
    position: absolute;
    margin-left: 45%;
    width: 301px;
    height: 443px;
    margin-top: 2%;
  }
  .about-paragraph-2{
    color: white;
    /* position: absolute; */
    width: 300px;
    margin-left: 400px;
    text-align: left;
    margin-top: 6%;
  }