* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-overlay: rgba(36, 35, 35, 0.376)
}

body {
    background-color: black !important;
}

a {
    text-decoration: none;
}

/* .navbar-nav a {
    color: rgb(216, 213, 213);
    font-size: 15px;
    margin-left: 25%;
} */
.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3% 7%;
}

.header__brand {
    color: white;
    font-size: 40px;
    font-weight: 700;
}

.header__nav ul li {
    display: inline-block;
    margin: 10px 20px;
}

.header__nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.home {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

}

.home-heading {
    position: absolute;
    color: white;
    width: 250px;
    text-align: center;
    margin-left: 9%;
    margin-top: 10%;
}

.home-image-1 {
    height: 440px;
    width: 353px;
    margin-top: 54%;
    margin-left: 18%;
    /* margin-bottom: 40%; */
    /* position: inherit; */
    display: block;
    object-fit: cover;
}

.home-image-2 {
    width: 320px;
    height: 585px;
    margin-top: 20%;
    margin-left: 20%;
    display: block;
    object-fit: cover;
}

.home-image-3 {
    width: 353px;
    height: 525px;
    margin-left: 13%;
    display: block;
    object-fit: cover;

}

/*END OF HOME SECTION*/
.about {
    display: flex;
}

.about-heading {
    color: white;
    margin-left: 8%;
    position: absolute;
    margin-top: 3%;
    font-size: 35px;
}

.about-image-1 {
    border-radius: 50%;
    width: 200px;
    height: 240px;
    margin-left: 7%;
    margin-top: 7%;
    position: absolute;
}

.about-paragraph-1 {
    color: white;
    width: 300px;
    text-align: center;
    margin-top: 24%;
    margin-left: 4%;
}

.vl {
    border-left: 3px solid grey;
    height: 500px;
    margin-left: 2%;
    margin-top: 2%;
}

.about-image-2 {
    position: absolute;
    margin-left: 27%;
    width: 267px;
    /* height: 443px; */
    margin-top: 7%;
}

.about-paragraph-2 {
    color: white;
    /* position: absolute; */
    width: 250px;
    margin-left: 20%;
    text-align: left;
    margin-top: 10%;
}

.vl-2 {
    border-left: 3px solid grey;
    height: 500px;
    margin-left: 1%;
    margin-top: 2%;
}

.about-image-3 {
    position: absolute;
    margin-top: 5%;
    width: 267px;
    margin-left: 65%;
}

.about-paragraph-3 {
    position: absolute;
    color: white;
    width: 240px;
    text-align: left;
    margin-left: 84%;
    margin-top: 13%;
}

hr {
    border-top: 3px solid white;
    width: 1300px;
    position: absolute;
    margin-left: 7%;
    margin-top: 36%;
}

.about-image-4 {
    position: absolute;
    margin-top: 38%;
    margin-left: 15%;
    margin-bottom: 5%;
    width: 500px;
}
.about-paragraph-4{
    position: absolute;
    color: white;
    width: 500px;
    text-align: left;
    margin-top: 48%;
    margin-left: 50%;
}
.about-paragraph-1-span{
    font-size: 20px;
    font-weight: 700;
}
.about-paragraph-2-span{
    font-size: 20px;
    font-weight: 700;
}
.about-paragraph-4-span{
    font-size: 20px;
    font-weight: 700;
}